/* STYLE SECTIONING TAGS */

*{
  margin:0px;
  padding:0px;
}

body{
 background-color: #c0c0d3; 
 text-align:center; /* alinging the element tag that contains the image will align the image as well. dont align the image tag itself*/
}

header{
  background-color: #7c80b1;
  max-width:100%;
  padding:10px;
}
/* STYLE TEXT */
main{
  font-family: 'Helvectica', Times, serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}
h1 {
  color: #e7eeee;
  padding-bottom:5px;
}

/* STYLE IMAGES */
#meImg{
  margin-top:1em;
  border-radius:500px;
  width:50%;
  max-width:200px;
  height:auto;
  object-fit:cover;
  margin-bottom:25px;
}
#introText{
  margin-bottom:27px;
  color: #e7eeee;
}
img{
  max-width:30%;
  max-height:30%;
  border-radius:16px;
  border: 3px solid #e7eeee;
  margin-bottom:4em;
}

#aboutMe{
  text-align:left;
}
.portfolioImages{
  margin-top:1em;
  border-radius:30px;
}

/* STYLE NAV BAR */
ul{
  list-style-type:none;
  background-color:#95aed5;
  overflow:hidden;
  padding:1em;
  width:100%;
}

li{
  display:inline;
}

/* anchor in list elemetnt*/
li a{
  text-decoration:none;
  color:#e4ecec;
  font-size:1.3em;
  padding:1em;
}

/* when hover anchor in li, itll change color */
li a:hover{
  background-color:#7c80b1;
}
#sampleProjects{
  margin-top:1em;
  margin-bottom:2em;
}
h1{
  padding-top: 20px;
}